<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Management System</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/home.css">
</head>
<body>
<div class="container">
  <header class="header">
    <h1>Hotel Management System</h1>
    </nav>
  </header>
  <main class="content">
    <h2>Welcome to the Hotel Management System</h2>
    <p>Manage all aspects of your hotel effortlessly with our comprehensive system. Choose an action from the list below to get started:</p>
    <ul class="actions-list">
      <li><a href="/checkin" class="btn">Checkin</a></li>
      <li><a href="/checkout" class="btn">Checkout</a></li>
      <li><a href="/calculateprice" class="btn">Calculate Price</a></li>
      <li><a href="/changeromdata" class="btn">Change Room Data</a></li>
      <li><a href="/listallrooms" class="btn">List All Rooms</a></li>
      <li><a href="/listcheckedinrooms" class="btn">List Checked-In Rooms</a></li>
      <li><a href="/listfreerooms" class="btn">List Free Rooms</a></li>
    </ul>
  </main>
  <footer class="footer">
    <p>2024 Tome Versic Hotel Management Middleware.</p>
  </footer>
</div>
</body>
</html>
